@tailwind base;
@tailwind components;
@tailwind utilities;


.header_active {
  color: #00856F !important;
  border-bottom: 1px solid #00856F !important;
  font-weight: 700 !important;
}


.active_2 {
  color: white;
  border-bottom: 1px solid white !important;
  font-weight: 700;
}

.btn_hover:hover {
  background-color: transparent;
  transition: .3s ease;
  color: #00856F;
}

.header_btn_hover:hover {
  transition: .3s ease;
  color: white;
  background-color: #00856F;
}

.header_btn_hover_2:hover {
  background-color: #fff !important;
  color: #00856F !important;
  transition: .3s ease;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #00856F;
  border-radius: 10px;
  border: 2px solid #DCE9E2;
  cursor: grab;
}

::-webkit-scrollbar-thumb:hover {
  background: #00856F;
}